
#mainFrame {
	height: 700px;
	width: 1024px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#mainFrame * {
	position: absolute;
}

#vinduWrap {
	background-image: url("../bilder/slottet/gardist.jpg");
	background-size: 100% 100%;
}

#billyBobimg {
	height: 300px;
	width: 250px;
}

#billybob {
	left: 150px;
	bottom: 0px;
	height: 300px;
	width: 250px;
}

.billyBobEyes {
	height: 60px;
	width: 80px;
	left: 85px;
	bottom: 160px;
}

.eyes_open {
	opacity: 1;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed {
	opacity: 0;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}
@-webkit-keyframes eyes_blink1{
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66%{
		opacity: 0;
	}
	79% {
		opacity: 0;
	}
	80%{
		opacity: 1;
	}

	100%{
		opacity: 1;
	}
}
@-webkit-keyframes eyes_blink2{
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	66%{
		opacity: 1;
	}
	79% {
		opacity: 1;
	}
	80%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}