@charset "utf-8";
body{
	background-color: rgb(0,0,0)
}
#animasjonswrap{
	width: 1024px;
	height: 700px;
	background-color: rgb(240, 240, 240);
	margin: auto;
	position: relative;
	overflow: hidden;
}
#himmel{
	width: 1024px;
	height: 700px;
	background-color: rgb(153, 204, 255);
	position: absolute;
	margin: auto;
	overflow: hidden;
		-webkit-animation-name: himmel;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-duration:20s;
		-webkit-animation-delay: 0s; 
}
		@-webkit-keyframes himmel{ 

 
			0%{   
			background-color: rgb(153, 204, 255);
		}
			50%{   
			background-color: rgb(153, 204, 255);
		}

			100%{   
			background-color: rgb(10,10,10);
	
		}	
}
.sky1{
	width: 300px;
	height: 200px;
	left: -350px;
	bottom: 400px;
	position: absolute;
	overflow: hidden;
		-webkit-animation-name: skyTopp;
		-webkit-animation-duration:4s;
		-webkit-animation-delay: 2s; 
		-webkit-animation-iteration-count: 3;	
	} 
		@-webkit-keyframes skyTopp{ 

 
			0%{   
			bottom: 400px;
			left:-350px;
		}
			100%{   
			bottom: 400px;
			left:1024px;
	
		}	
}
.sky2{
	width: 300px;
	height: 200px;
	left: -350px;
	bottom: 200px;
	position: absolute;
	overflow: hidden;
		-webkit-animation-name: skyMid;
		-webkit-animation-duration:20s;
		-webkit-animation-delay: 0s; 
	
	} 
		@-webkit-keyframes skyMid{ 

 
			0%{   
			bottom: 200px;
			left:-350px;
		}
			100%{   
			bottom: 200px;
			left:1024px;
	
		}
}
.sky3{
	width: 300px;
	height: 200px;
	left: -350px;
	bottom: 0px;
	position: absolute;
	overflow: hidden;
		-webkit-animation-name: skyBunn;
		-webkit-animation-duration:6s;
		-webkit-animation-delay: 6s; 
		-webkit-animation-iteration-count: 3;	
	} 
		@-webkit-keyframes skyBunn{ 

 
			0%{   
			bottom: 0px;
			left:-350px;
		}
			100%{   
			bottom: 0px;
			left:1024px;
	
		}	
}
.sky4{
	width: 300px;
	height: 200px;
	left: -350px;
	bottom: 300px;
	position: absolute;
	overflow: hidden;
		-webkit-animation-name: skyStille;
		-webkit-animation-duration:10s;
		-webkit-animation-delay: 5s; 	
	} 
		@-webkit-keyframes skyStille{ 

 
			0%{   
			bottom: 300px;
			left:-350px;
		}
			100%{   
			bottom: 300px;
			left:1024px;
	
		}	
}	
.star1{
	width: 100px;
	height: 100px;
	left:-300px;
	bottom: 400px;
	position: absolute;
		-webkit-animation-name: star_left;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-duration:10s;
		-webkit-animation-delay: 11s; 	
	} 
		@-webkit-keyframes star_left{ 

 
			0%{   
			left:-300px;
			bottom:400px;

		}
			79.9%{   
			left:-300px;
			bottom: 400px;
		}
			80%{   
			left:100px;
			bottom: 400px;
		}
			100%{   
			left:100px;
			bottom: 400px;
		}	
}
.star2{
	width: 100px;
	height: 100px;
	left:-300px;
	bottom: 500px;
	position: absolute;
		-webkit-animation-name: star_mid;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-duration:10s;
		-webkit-animation-delay: 11s; 	
	} 
		@-webkit-keyframes star_mid{ 

 
			0%{   
			left:-300px;
			bottom:500px;

		}
			79.9%{   
			left:-300px;
			bottom: 500px;
		}
			80%{   
			left:300px;
			bottom: 500px;
		}
			100%{   
			left:300px;
			bottom: 500px;
		}	
}
.star3{
	width: 100px;
	height: 100px;
	left:-300px;
	bottom: 100px;
	position: absolute;
		-webkit-animation-name: star_mide;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-duration:10s;
		-webkit-animation-delay: 11s; 	
	} 
		@-webkit-keyframes star_mide{ 

			0%{   
			left:-300px;
			bottom:100px;

		}
			79.9%{   
			left:-300px;
			bottom: 100px;
		}
			80%{   
			left:600px;
			bottom: 100px;
		}
			100%{   
			left:600px;
			bottom: 100px;
		}	
	
}
.star4{
	width: 100px;
	height: 100px;
	left:-300px;
	bottom: 400px;
	position: absolute;
		-webkit-animation-name: star_right;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-duration:10s;
		-webkit-animation-delay: 11s; 	
	} 
		@-webkit-keyframes star_right{ 

 
			0%{   
			left:-300px;
			bottom:400px;

		}
			79.9%{   
			left:-300px;
			bottom: 400px;
		}
			80%{   
			left:900px;
			bottom: 400px;
		}
			100%{   
			left:900px;
			bottom: 400px;
		}	
	}
.fly{
	height: 900px;
	width: 900px;
	position: absolute;
	right: 100px;
	bottom: -200px;

}

#billyWrap{
	left:600px;
	bottom:323px;
	border-radius: 50%;
	width: 27px;
	height: 32px;
	position: absolute;
	overflow: hidden;
	margin: auto;
	background-color: rgb(240,240,240);
}
.billy_bob{
	left:-5px;
	bottom: -12px;
	width: 40px;
	height: 40px;
	position: absolute;
}
