#vinduWrap {
	background-image: url("../bilder/holmenkollen/holmenkollentopp.jpg")
}
#billyBobimg {
	left: 0px;
	height: 300px;
	width: 250px;
}
#billybob {
	right: 0px;
	bottom: 0px;
	height: 300px;
	width: 250px;
}
.billyBobEyes {
	height: 60px;
	width: 80px;
	left: 85px;
	bottom: 160px;
}
.eyes_open {
	opacity: 1;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed {
	opacity: 0;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}
@-webkit-keyframes eyes_blink1{
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66%{
		opacity: 0;
	}
	79% {
		opacity: 0;
	}
	80%{
		opacity: 1;
	}

	100%{
		opacity: 1;
	}
}
@-webkit-keyframes eyes_blink2{
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	66%{
		opacity: 1;
	}
	79% {
		opacity: 1;
	}
	80%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}
#mouth {
	height: 30px;
	width: 55px;
	left: 95px;
	bottom: 132px;
	opacity: 0;

	-webkit-animation-name: showMouth;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2.5s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes showMouth {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;	
	}
	100% {
		opacity: 1;
	}
}

#holmenkollentopputsnitt {
	background-image: url("../bilder/holmenkollen/holmenkollentopputsnitt.png");
	height: 300px;
	width: 573px;
	bottom: 0px;
	left: 182px;
}

#skihopper {
	height: 250px;
	width: 210px;
	top: 0px;
	left: 1274px;
	background-image: url("../bilder/holmenkollen/skihopper2.png");

	-webkit-animation-name: skihopper;
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes skihopper {
	0% {
		top: -200px;
		left: 800px;
		-webkit-transform: rotate(-35deg);
	}
	97% {
		top: 900px;
		left: 50px;
		-webkit-transform: rotate(-35deg);
	}
	98% {
		top: 900px;
		left: 200px;
	}
	99% {
		top: 900px;
		left: 1274px;
	}
	100% {
		top: 0px;
		left: 1274px;
	}
}