#vinduWrap {
	background-image: url("../bilder/opera/operatak.jpg")
}
#billyBobimg {
	left: 0px;
	height: 300px;
	width: 230px;
}
#billybob {
	left: 0px;
	bottom: 0px;
	height: 300px;
	width: 220px;
}
.billyBobEyes {
	height: 60px;
	width: 80px;
	left: 75px;
	bottom: 160px;
}
.eyes_open {
	opacity: 1;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed {
	opacity: 0;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}
@-webkit-keyframes eyes_blink1{
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66%{
		opacity: 0;
	}
	79% {
		opacity: 0;
	}
	80%{
		opacity: 1;
	}

	100%{
		opacity: 1;
	}
}
@-webkit-keyframes eyes_blink2{
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	66%{
		opacity: 1;
	}
	79% {
		opacity: 1;
	}
	80%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}
#mouth {
	height: 30px;
	width: 55px;
	left: 85px;
	bottom: 132px;
	opacity: 0;

	-webkit-animation-name: showMouth;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 4.5s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes showMouth {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;	
	}
	100% {
		opacity: 1;
	}
}

#kjendis {
	left: 1060px;
	bottom: 0px;
	height: 300px;
	width: 130px;
	background-image: url("../bilder/opera/antichrist.png");

	-webkit-animation-name: kjendisihavet;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes kjendisihavet {
	0% {
		left: 1060px;
		bottom: 0px;
		-webkit-transform: rotate(10deg);
	}
	10% {
		left: 950px;
		bottom: 45px;
		-webkit-transform: rotate(0deg);
	}
	20% {
		left: 840px;
		bottom: 90px;
		-webkit-transform: rotate(10deg);
	}
	30% {
		left: 730px;
		bottom: 135px;
		-webkit-transform: rotate(0deg);
	}
	40% {
		left: 620px;
		bottom: 180px;
		-webkit-transform: rotate(10deg);
	}
	50% {
		left: 550px;
		bottom: 225px;
		-webkit-transform: rotate(0deg);
	}
	60% {
		left: 550px;
		bottom: 225px;
		-webkit-transform: rotate(10deg);
	}
	70% {
		left: 350px;
		bottom: 350px;
		-webkit-transform: rotate(-45deg);
	}
	98% {
		left: 200px;
		bottom: -400px;
		-webkit-transform: rotate(-180deg);
	}
	99% {
		left: 1060px;
		bottom: -400px;
	}
	100% {
		left: 1060px;
		bottom: 0px;
	}
}
#fangirls {
	left: 1060px;
	bottom: 0px;
	height: 100px;
	width: 150px;
	background-image: url("../bilder/opera/hellspawn.png");

	-webkit-animation-name: kjendisihavet;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 3.5s;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
}
#utsnitt {
	background-image: url("../bilder/opera/operatakutsnitt.png");
	bottom: 0px;
	left: 200px;
	width: 350px;
	height: 280px;
}
.tenkeboble {
  position:absolute;
  width:270px;
  padding:80px 40px;
  text-align:center;
  color:white;
  left: 400px;
  top: 50px;
  background:white;
  border-radius:220px / 120px;
  opacity: 0;
}
.tekst{
	top:10px;
	left:10px;
	color:black;
	font-size: 30px
}
#boble1 {
	-webkit-animation-name: boble;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2.5s;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}
#boble2 {
	-webkit-animation-name: boble;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 4.5s;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-fill-mode: forwards;
}
#boble3 {
	left: 100px;
	top: 50px;

	-webkit-animation-name: boble;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 7s;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;	
}
@-webkit-keyframes boble {
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}