#vinduWrap {
	background-image: url("../bilder/slottet.jpg");
}


#billyBobimg {
	height: 300px;
	width: 250px;
}

#billybob {
	left: -250px;
	bottom: 0px;
	height: 300px;
	width: 250px;

	-webkit-animation-name: walkIn;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 11s;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
}

.billyBobEyes {
	height: 60px;
	width: 80px;
	left: 85px;
	bottom: 160px;
}

#gardist {
	width: 50px;
	height: 70px;
	left: 640px;
	bottom: 200px;
}

#konge{
	width: 150px;
	height: 100px;
	left: 455px;
	bottom: 302px;
}

#kongeKropp {
	width: 150px;
	height: 100px;
}

#kongeArm{
	width: 30px;
	height: 30px;
	bottom: 25px;
	left: 55px;
}

#konge:hover #kongeArm{
	-webkit-animation-name: vink;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
}

#eliOgBil{
	right: -450px;
	bottom: 200px;
	width: 300px;
	height: 250px;

	-webkit-animation-name: bilKjører;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 13s;
	-webkit-animation-duration: 6s;
	-webkit-animation-fill-mode: forwards;
}

#bil{
	width: 350px;
	height: 300px;
}

#eli{
	width: 80px;
	height: 100px;
	bottom: 140px;
	right: -10px;
	-webkit-transform: rotate(20deg);
}

@-webkit-keyframes bilKjører{
	from{
		right: -350px;
		bottom: 100px;
	}
	to{
		right: 1500px;
		bottom: -550px;
	}
}


@-webkit-keyframes vink{
	0%{
		 -webkit-transform: rotate(15deg);
		 bottom: 28px;
	}
	10%{
		 -webkit-transform: rotate(0deg);
		 bottom: 25px;
	}
	20%{
		 -webkit-transform: rotate(15deg);
		 bottom: 28px;
	}
	30%{
		 -webkit-transform: rotate(0deg);
		 bottom: 25px;
	}
	40%{
		 -webkit-transform: rotate(15deg);
		 bottom: 28px;
	}
	50%{
		 -webkit-transform: rotate(0deg);
		 bottom: 25px;
	}
	60%{
		 -webkit-transform: rotate(15deg);
		 bottom: 28px;
	}
	70%{
		 -webkit-transform: rotate(0deg);
		 bottom: 25px;
	}
	80%{
		 -webkit-transform: rotate(15deg);
		 bottom: 28px;
	}
	90%{
		 -webkit-transform: rotate(0deg);
		 bottom: 25px;
	}
	100%{
		 -webkit-transform: rotate(15deg);
		 bottom: 28px;
	}
}

@-webkit-keyframes walkIn{
	0%{
		left: -250px;
		 -webkit-transform: rotate(10deg);
	}
	10%{
		left: -200px;
		 -webkit-transform: rotate(0deg);
	}
	20%{
		left: -150px;
		 -webkit-transform: rotate(10deg);
	}
	30%{
		left: -100px;
		 -webkit-transform: rotate(0deg);
	}
	40%{
		left: -50px;
		 -webkit-transform: rotate(10deg);
	}
	50%{
		left: 0px;
		 -webkit-transform: rotate(0deg);
	}
	60%{
		left: 50px;
		 -webkit-transform: rotate(10deg);
	}
	70%{
		left: 100px;
		 -webkit-transform: rotate(0deg);
	}
	80%{
		left: 150px;
		 -webkit-transform: rotate(10deg);
	}
	90%{
		left: 200px;
		 -webkit-transform: rotate(0deg);
	}
	100%{
		left: 250px;
	}
}
