h1{
	font-size: 4em;
	font-family: 'Comic Sans MS', cursive, sans-serif; /*  y u no work? */
}


#billyBobimg {
	height: 600px;
	width: 450px;
}

#billybob {
	left: 700px;
	bottom: -100px;
	height: 600px;
	width: 550px;
	-webkit-transform: rotate(340deg);
}

.billyBobEyes {
	height: 120px;
	width: 140px;
	left: 155px;
	bottom: 320px;
}

.eyes_open
{
	opacity: 0;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed
{
	opacity: 0;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}

@-webkit-keyframes eyes_blink1{
	79%{
		opacity: 1;
	}
	80%{
		opacity: 0;
	}

	100%{
	}
}

@-webkit-keyframes eyes_blink2{
	79%{
		opacity: 0;
	}
	80%{
	}

	100%{
		opacity: 1;
	}
}