body {
	background-color: black;
	overflow: hidden;
}
#vinduWrap {
	position: relative;
	overflow: hidden;
	margin: auto;
	height: 700px;
	width: 1024px;
	background-color: white;
}
#vinduWrap * {
	position: absolute;
}
.aapneKnapp {
	height: 75px;
	width: 100px;
	display: block;
}
#kartknapp {
	top:50px;
	right: 50px;
	background-image: url("../bilder/scrollthumb.png");
}

/* kan bytte til andre effekter, evt ingen effekter senere - bare et forslag*/
#kartknapp:hover
{
	-webkit-transform: rotate(15deg);
}
#infoknapp:hover
{
	-webkit-transform: rotate(-15deg);
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    width: 220px;
}

#infoknapp {
	top:50px;
	right: 150px;
	background-image: url("../bilder/bookthumb.png");
	text-align: center;
	font-size: 65px;
	text-decoration: none;
	color: rgb(0,0,0);
}
.exitKnapp {
	height: 20px;
	width: 20px;
	background-image: url("../bilder/kryss.png");
	right: 0px;
	display: block;
}
.lokaleKnapp {
	display: block;
	border-radius: 100%;
}
.lokaleKnapp:hover {
	background-color: rgb(225,225,225);
	opacity: 0.5;
}
#holmenKnappen {
	height: 55px;
	width: 68px;
	top: 35px;
	left: 135px;
}

#operaKnappen {
	height: 54px;
	width: 83px;
	bottom: 80px;
	right: 142px;
}
#vigelandsKnappen {
	height: 90px;
	width: 65px;
	top: 90px;
	left: 188px;
}
#slottsKnappen {
	height: 49px;
	width: 70px;
	bottom: 110px;
	left: 232px;
}
#restaurantKnappen {
	top: 90px;
	right: 187px;
	height: 72px;
	width: 83px;
}
#hjemKnappen {
	height: 69px;
	width: 75px;
	top: 40px;
	right: 58px;
}
#kart1 {
	height: 339px;
	width: 0px;
	bottom: 250px;
	left: -700px;
	background-image: url("../bilder/scrolldel2v2.png");
}
#kart1 * {
	position: absolute;
}
#kartexit{
	top: 12px;
	right: 5px;
}
.kartrull {
	height: 375px;
	width: 150px;
}
#rullV {
	background-image: url("../bilder/scrolldel1v2.png");
	width: 150px;
	left: -150px;
}
#rullH {
	background-image: url("../bilder/scrolldel3v2.png");
	width: 155px;
	right: -150px;
}
#kart1:target {
	-webkit-animation-name: kartUt;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-direction: all;
}
@-webkit-keyframes kartUt {
	0% {
		bottom: 250px;
		width: 0px;
		left: 500px;
	}
	50% {
		bottom: 250px;
		width: 0px;
		left: 500px;
	}
	100% {
		bottom: 250px;
		width: 556px;
		left: 225px;
	}
}
#info1 {
	left: -700px;
	height: 600px;
	width: 640px;
	background-image: url('../bilder/book.png');
	bottom: 50px;
}
#info1:target {
	left: 200px;
}
#infoExitKnapp {
	top: 50px;
	right: 30px;
}
#side1 {
	height: 600px;
	width: 300px;
	left: 10px;
}
.bilderamme {
	height: 150px;
	width: 250px;
	left: 25px;
}
.bilderamme img {
	height: 150px;
	width: 250px;
}
#bilderamme1 {
	top: 55px;
}
#bilderamme2 {
	top: 210px;
}
#bilderamme3 {
	top: 365px;
}

#side2 {
	height: 600px;
	width: 250px;
	right: 60px;
	overflow-y: auto;
}

#side2 h3{
	top: 50px;
	margin-top: 10px;
	margin-bottom: 30px;

}
.infoTekst {
	top: 100px;
	font-size: 16px;
	width: 250px;
	margin: 0px;
}
p { 
	font-family: "Sans Serif";
}