body {
	/*margin: 8px;*/
}

#mainFrame {
	height: 700px;
	width: 1024px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#mainFrame * {
	position: absolute;
}

#subwayAnimationWrap {
	height: 700px;
	width: 1024px;
    background-image: url("../bilder/panorama.png");
    background-repeat: no-repeat;			
    background-position: 0px 0px;

	-webkit-animation-name: animatedBackground;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 7.5s;
	-webkit-animation-fill-mode: forwards; 
}

#vinduWrap {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	left: 1024px;
	
	-webkit-animation-name: showPage;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 7.5s;
	-webkit-animation-fill-mode: forwards;
	
}

#subway {
	height: 700px;
	width: 1024px;
	background-image: url("../bilder/tbane.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#billyBobOnSubway
{
	height: 300px;
	width: 230px;
	left: 445px;
	bottom: 10px;
}

.billyBobOnSubwayEyes
{
	height: 55px;
	width: 70px;
	left: 525px;
	bottom: 170px;
}

.eyes_open
{
	visibility: hidden;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed
{
	visibility: hidden;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}

@-webkit-keyframes eyes_blink1{
	75%{
		visibility: visible;
	}
	80%{
		visibility: hidden;
	}

	100%{
	}
}

@-webkit-keyframes eyes_blink2{
	75%{
		visibility: hidden;
	}
	80%{
	}

	100%{
		visibility: visible;
	}
}


@-webkit-keyframes animatedBackground {
    0% { 
    	background-position: 0 0; 
    	left: 0;
    }
    55%{
    	background-position: -3200px 0;
    	left: 0;
    }
    80%
    {
    	background-position: -3200px 0;
    	left: 0;
    }
    100% { 
    	background-position: -3200px 0;
    	left: -1024px;
    }
}

@-webkit-keyframes showPage {
    0% { 
    	left: 1024px;
    }
    80%{
    	left: 1024px;
    }
    100% { 
    	left: 0px;
    }
}

