body {
	/*margin: 8px;*/
}

#mainFrame {
	height: 700px;
	width: 1024px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#mainFrame * {
	position: absolute;
}

#subwayAnimationWrap {
	height: 700px;
	width: 1024px;
    background-image: url("../bilder/panorama.png");
    background-repeat: no-repeat;			
    background-position: 0px 0px;

	-webkit-animation-name: animatedBackground;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 9s;
	-webkit-animation-fill-mode: forwards; 
}

#vinduWrap {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	left: 1024px;
	
	-webkit-animation-name: showPage;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 9s;
	-webkit-animation-fill-mode: forwards;
	
}

#subway {
	height: 700px;
	width: 1024px;
	background-image: url("../bilder/tbane.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#billyBobOnSubwayImg
{
	height: 300px;
	width: 230px;
}


#billyBobOnSubway
{
	height: 300px;
	width: 230px;
	left: 445px;
	bottom: 10px;

	-webkit-animation-name: billyWalksOut;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 6s;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}

.billyBobOnSubwayEyes
{
	height: 55px;
	width: 70px;
	left: 80px;
	bottom: 160px;
}

.eyes_open
{
	visibility: hidden;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed
{
	visibility: hidden;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}

@-webkit-keyframes billyWalksOut{
	0%{
		left: 445px;
		bottom: 10px;
		 -webkit-transform: rotate(0deg);
	}
	10%{
		left: 445px;
		bottom: -30px;
		 -webkit-transform: rotate(0deg);
	}
	20%{
		left: 445px;
		bottom: -70px;
		 -webkit-transform: rotate(0deg);
	}
	30%{
		left: 420px;
		bottom: -100px;
		 -webkit-transform: rotate(0deg);
	}
	40%{
		left: 380px;
		bottom: -100px;
		 -webkit-transform: rotate(0deg);
	}
	50%{
		left: 300px;
		bottom: -100px;
		 -webkit-transform: rotate(0deg);
	}
	60%{
		left: 240px;
		bottom: -100px;
		 -webkit-transform: rotate(10deg);
	}
	70%{
		left: 140px;
		bottom: -100px;
		 -webkit-transform: rotate(0deg);
	}
	80%{
		left: 40px;
		bottom: -100px;
		 -webkit-transform: rotate(10deg);
	}
	90%{
		left: -80px;
		bottom: -100px;
		 -webkit-transform: rotate(0deg);
	}
	100%{
		left: -250px;
		bottom: -100px;
		-webkit-transform: rotate(10deg);
	}
}

@-webkit-keyframes eyes_blink1{
	75%{
		visibility: visible;
	}
	80%{
		visibility: hidden;
	}

	100%{
	}
}

@-webkit-keyframes eyes_blink2{
	75%{
		visibility: hidden;
	}
	80%{
	}

	100%{
		visibility: visible;
	}
}


@-webkit-keyframes animatedBackground {
    0% { 
    	background-position: 0 0; 
    	left: 0;
    }
    45%{
    	background-position: -3200px 0;
    	left: 0;
    }
    80%
    {
    	background-position: -3200px 0;
    	left: 0;
    }
    100% { 
    	background-position: -3200px 0;
    	left: -1024px;
    }
}

@-webkit-keyframes showPage {
    0% { 
    	left: 1024px;
    }
    80%{
    	left: 1024px;
    }
    100% { 
    	left: 0px;
    }
}

