body {
	margin: 8px;
}

#mainFrame {
	height: 700px;
	width: 1024px;
	margin: auto;
	overflow: hidden;
}

#mainFrame * {
	position: absolute;
}

#vinduWrap {
	top: 1400px;
	-webkit-animation-name: showPage;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 7.5s;
	-webkit-animation-fill-mode: forwards;
}

#subwayAnimationWrap {
	height: 700px;
	width: 1024px;
	margin: auto;
	overflow: hidden; 
    background-image: url("../bilder/panorama.png");
    background-repeat: no-repeat;			
    background-position: 0px 0px;

	-webkit-animation-name: animatedBackground;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 7s;
	-webkit-animation-fill-mode: forwards;
}

#subway {
	height: 700px;
	width: 1024px;
	background-image: url("../bilder/tbane.png"); 
}

#billyBobOnSubway
{
	height: 300px;
	width: 180px;
	left: 470px;
	bottom: 10px;
}

.billyBobOnSubwayEyes
{
	height: 55px;
	width: 60px;
	left: 530px;
	bottom: 170px;
}

.eyes_open
{
	visibility: hidden;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed
{
	visibility: hidden;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}

@-webkit-keyframes eyes_blink1{
	75%{
		visibility: visible;
	}
	80%{
		visibility: hidden;
	}

	100%{
	}
}

@-webkit-keyframes eyes_blink2{
	75%{
		visibility: hidden;
	}
	80%{
	}

	100%{
		visibility: visible;
	}
}


@-webkit-keyframes animatedBackground {
    0% { 
    	background-position: 0 0; 
    	visibility: visible;
    	top: 0px;
    }
    65%{
    	background-position: -3000px 0;
    	visibility: visible;
    	top: 0px;
    }
    99%{
    	background-position: -3000px 0;
    	visibility: visible;
    	top: 0px;
    }
    100% { 
    	background-position: -3000px 0;
    	top: -1400px;
    	visibility: hidden;
    }
}

@-webkit-keyframes showPage {
    0% { 
    	top: 1400px;
    	visibility: hidden;
    }
    99%{
    	top: 1400px;
    	visibility: hidden;
    }
    100% { 
    	top: 0px;
    	visibility: visible; 
    }
}

