@charset "utf-8";
	body{
		background-color: rgb(0,0,0)
	}
	#animasjonswrap{
		width: 1024px;
		height: 700px;
		background-color: rgb(0,0,0);
		margin: auto;
		position: relative;
		overflow: hidden;
	
	}
	.turistGuide{
		height: 600px;
		width: 924px;
		left:60px;
		bottom: 30px;
		position: absolute;
		overflow: hidden;
	}
	#knapp{
		height: 100px;
		width: 400px;
		left: 312px;
		bottom: 0px;
		display: block;
		background-color: blue;
		position: absolute;
		text-decoration: none;
		font-size: 45px;
		text-align: center;
		color: black;
		border: 2px solid blue;
		border-radius: 8px;
	}

	#knapp:hover {
		height: 100px;
		width: 400px;
		left: 312px;
		bottom: 0px;
		display: block;
		background-color: black;
		position: absolute;
		text-decoration: none;
		font-size: 45px;
		text-align: center;
		color: blue;
		border: 2px solid blue;
		border-radius: 8px;
	}

	#rulletekstwrap { 
		height: 60px;
		width: 800px;
		background-image: url("../bilder/startside/forsidebanner.png");
		top: 50px;
		right: 112px;
		position: absolute;
		text-align: center;
		-webkit-animation-name: rulletekst;
		-webkit-animation-duration: 4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}

#billyBobimg {
	position: absolute;
	height: 600px;
	width: 450px;
}

#billybob {
	right: -200px;
	position: absolute;
	bottom: 100px;
	height: 600px;
	width: 550px;
	-webkit-transform: rotate(340deg);
}

.billyBobEyes {
	position: absolute;
	height: 120px;
	width: 140px;
	left: 160px;
	bottom: 320px;
}

.eyes_open
{
	opacity: 0;
	-webkit-animation-name: eyes_blink1;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.eyes_crossed
{
	opacity: 0;
	-webkit-animation-name: eyes_blink2;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
}

@-webkit-keyframes eyes_blink1{
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66%{
		opacity: 0;
	}
	79% {
		opacity: 0;
	}
	80%{
		opacity: 1;
	}

	100%{
		opacity: 1;
	}
}
@-webkit-keyframes eyes_blink2{
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	66%{
		opacity: 1;
	}
	79% {
		opacity: 1;
	}
	80%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}
	@-webkit-keyframes rulletekst {
		0% {
			right: -800px;
		}
		100% {
			right: 1200px;
		}
	}